@model OnlineCricStore.WebUI.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
 @Html.AntiForgeryToken()
 @Html.ValidationSummary()



    <fieldset>
        <legend>Set Password Form</legend>
        <div style="margin-top: 5px;">
            <div style="float: left; width: 20%; margin-left: 15%;">
                @Html.LabelFor(m => m.NewPassword)
            </div>

            <div style="float: left; width: 20%; margin-left: 15%;">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            
        </div>

        <div style="clear: both;"></div>
        <div style="margin-top: 5px;">
            <div style="float: left; width: 20%; margin-left: 15%;">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div style="float: left; width: 20%; margin-left: 15%;">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
           
        </div>
        <div style="clear: both;"></div>
        <div style="clear: both;"></div>
        <div style="float: right; width: 20%; margin: 3% 13%;">
            <input type="submit" value="Set password" />
        </div>
    </fieldset>
}
